<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>* Quora Posts *</h1>
    <h2 class="sub-tittle">Create New Post</h2>
    
    <div class="edit-post">
        <form method="post" action="/posts">
            <input placeholder="Enter Username" name="username" class="edit-text"> <br>
            <textarea placeholder="Write your content here!" name="content" rows="10" cols="135" class="edit-text"></textarea> <br>
            <button class="delete-btn submit">Submit Post</button>
        </form>
    </div>
</body>
</html>